<div class="container align-items-center">
  <div class="col mx-auto mt-5 text-success">
    <h1> App for learning. You can add friends, edit and delete. You can see other friends added for other people but you can't add them, just watch them :)</h1>
    <h2> If you login you can add new friends and watch them in clicking My Friends button, edit and delete them. </h1>
    <h2> If you go to the home page you can still see all the people added in the app </h2>
  </div>
</div>
